.cardProfile{
    gap: 10px;
    display: block;
    flex-direction: column;
    justify-content: center;
    height: 685px;
    background-color: rgb(255, 255, 255);
    border: solid #39A900 2px ;
    padding: 1rem 0rem 0 0rem;
    margin: 2rem 0 0 20rem;
    font-family: system-ui;
    width: 420px;
    border-radius: 1.8rem;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
}

.cardProfile img {
    border-radius: 1.5rem;
    margin-left: 2vw;
    height: 22vh;
}

.info {
    width: 250px;
}

.info h2{
    padding: .5rem;
    margin-left: 1vw;
}

.barcode {
    height: 5vh;
    margin: 20px;
}

.cardProfile footer h4 {
    margin: 40px;
    color: white;
    font-weight: 600;
    text-align: center;
}
