.attends{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
}
.attends h1{
    font-weight: bold;
    font-size: 2.5em;
    color: #39A900;
    text-transform: uppercase;
}

.formAttends{
    display: flex;
    gap: 2em;
}

.formAttends input{
    border-bottom: 2px solid #39A900;
    outline: none;
    border-radius: 3px;
    font-size: 1.4em;
}
.formAttends .btn_submit{
    font-size: 1.2em;
    width: fit-content;
    background: #39A900;
    color: white;
    padding: 0 1em;
    border-radius: 20px;
    font-weight: bold;
}

.p-datatable .p-column-filter {
    /* Agrega tus estilos personalizados aquí */
    border: 1px solid #ccc; /* Borde del filtro */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Color de fondo */
    margin-top: 5px; /* Margen superior */
    padding: 5px; /* Espaciado interno */
}

/* Estilos para el texto de búsqueda dentro del filtro */
.p-datatable .p-column-filter input[type="text"] {
    border: none;
    outline: none; 
    width: 100%; 
}

/* Estilos para la tabla */
.table-container {
    width: 90vw;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.table-container .search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
    width: fit-content;
    padding: 0 1em;
}

/* Estilos para las filas */
.p-datatable .p-datatable-tbody > tr {
    background-color: #f9f9f9; 
    transition: background-color 0.3s ease; 
}

.p-datatable .p-datatable-tbody > tr:hover {
    background-color: #e5e5e5; 
}

/* Estilos para las celdas de encabezado */
.p-datatable .p-column-header {
    background-color: #4CAF50;
    color: #ffffff;
    font-weight: bold;
}


/* Estilos para las celdas de la tabla */
.p-datatable .p-datatable-tbody td,
.p-datatable .p-datatable-thead th {
    border: 1px solid #ccc; /* Agrega bordes a las celdas y los encabezados de columna */
    padding: 0.5rem; /* Ajusta el espaciado interno según tus preferencias */
    text-align: left; /* Alinea el texto a la izquierda, si es necesario */
}
