

.titleModal{
    color: #84df57;
    font-weight: bold;
    font-size: 1.5em;
}
form{
    display: flex;
    flex-direction: column;
    gap: .8em;
}
form input{
    font-size: 1.2em;
    border-bottom: 2px solid #84df57;
    outline: none;
}
form textarea{
    resize: none;
    height: 300px;
    border: 2px solid #84df57;
    border-radius: 7px;
    font-size: 1.3em;
    outline: none;
}
.btnModal{
    color: white;
    background: #84df57;
    padding: .2em 1em;
    width: fit-content;
    border: 2px solid transparent;
    margin: auto;
    border-radius: 7px;
    font-weight: bold;
    transition: all .7s;
}
.btnModal:hover{
    color: #84df57;
    background: white;
    border: 2px solid #84df57;
}

form .btnSubmit{
    color: white;
    background: #84df57;
    padding: .2em 1em;
    width: fit-content;
    margin: auto;
    border-radius: 7px;
    font-weight: bold;
    border: 2px solid transparent;
    transition: all .7s;
    font-size: 1.1em;
}
form .btnSubmit:hover{
    color: #84df57;
    background: white;
    border: 2px solid #84df57;
}

.closeBtn{
    position: relative;
    top: -2em;
    left: 97%;
}