.titleModal {
    color: #84df57;
    font-weight: bold;
    font-size: 1.5em;
}

#Noth1 {
    text-align: center;
    font-size: 62px !important;  
    background: -webkit-linear-gradient(left top, #a9ff7e, #76ff31);
    background: linear-gradient(to bottom right, #55ff00, #2d8202);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form {
    display: flex;
    flex-direction: column;
    gap: .8em;
}

form input {
    font-size: 1.2em;
    border-bottom: 2px solid #84df57;
    outline: none;
}

form textarea {
    resize: none;
    height: 300px;
    border: 2px solid #84df57;
    border-radius: 7px;
    font-size: 1.3em;
    outline: none;
}

.btnModal {
    color: white;
    background: #84df57;
    padding: .2em 1em;
    width: fit-content;
    border: 2px solid transparent;
    margin: auto;
    border-radius: 7px;
    font-weight: bold;
    transition: all .7s;
}

.btnModal:hover {
    color: #84df57;
    background: white;
    border: 2px solid #84df57;
}

form .btnSubmit {
    color: white;
    background: #84df57;
    padding: .2em 1em;
    width: fit-content;
    margin: auto;
    border-radius: 7px;
    font-weight: bold;
    border: 2px solid transparent;
    transition: all .7s;
    font-size: 1.1em;
}

form .btnSubmit:hover {
    color: #84df57;
    background: white;
    border: 2px solid #84df57;
}

.closeBtn {
    position: relative;
    top: -2em;
    left: 96%;
    color: #84df57;
}

.custom-file-input {
    position: relative;
    cursor: pointer;
}

.file-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    font-size: 24px;
    color: #4CAF50;
}

/* Estilo opcional para resaltar el área de selección al pasar el mouse sobre ella */
.custom-file-input:hover .file-icon {
    border-color: #2196F3;
    color: #2196F3;
}

.input-file {
    display: none;
}

/* Añade estos estilos al archivo de estilos (NoticesPageStyles.css) o donde estés gestionando los estilos de tu aplicación */

/* Estilo para el overlay del modal */
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Estilo para el contenido del modal */
.ReactModal__Content {
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Clase para mostrar el modal */
.ReactModal__Overlay--after-open {
    opacity: 1;
}

/* Clase para mostrar el contenido del modal */
.ReactModal__Content--after-open {
    opacity: 1;
    transform: translateY(0);
}

/* Clase para cerrar el modal */
.ReactModal__Overlay--before-close {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Clase para cerrar el contenido del modal */
.ReactModal__Content--before-close {
    opacity: 0;
    transform: translateY(-50%);
}

/* TODO Estiles NoticesList */

.containerNoticeList {
    display: flex;
    flex-direction: column; /* Establece la dirección del flujo principal a columna */
    max-width: 80vw; /* Limita el ancho del contenedor para evitar que se extienda demasiado */
}

.containerNoticeList{
    background: rgba(232, 227, 227, 0.778);
    border-radius: 20px;
}

.infroNotice {
    display: flex;
    width: 30% !important;
    gap: 10px; /* Espaciado entre la imagen y el contenido de la noticia */
    background: linear-gradient(to bottom right, #9ff972, #3ca13f);
    border-radius: 20px 0 0 0;
    padding: 2em 0;
    justify-content: center;
    text-align: center;
}
.infroNotice h2{
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
}
.infroNotice img{
    border-radius: 10px;
}
.cImgDes{
    background-color: rgba(0, 255, 55, 0.12) !important;
    border-radius: 20px 20px 0 0;
}
.description {
    max-height: 430px; /* Altura máxima para el contenido de la noticia */
    overflow-y: auto; /* Permitir desbordamiento vertical y mostrar barras de desplazamiento si es necesario */
    width: 70%;
    margin-top: 3em;
    margin: 2.5em 3em;
    padding: 1em 2em;
    background:  linear-gradient(to bottom right, #bcfd70, #bff0a7);
    border-radius: 10px;
}
.description pre{
    font-family: '';
    font-size: 1.1em;
}

.descriptionPre{
    white-space: pre-wrap;
    overflow-y: auto;
}

.footerNotice{
    display: flex;
    gap: 1em;
    background: rgba(228, 227, 227, 0.778);
    border-radius: 0 0 20px 20px;
    padding: 1em 0;
    padding-left: 1em;
}

#delete {
    color: white;
    background: #84df57;
    padding: .2em 1em;
    width: fit-content;
    border: 2px solid transparent;
    margin: auto;
    border-radius: 7px;
    font-weight: bold;
    transition: all .7s;
    margin-right: 1vw;

}

#delete:hover {
    color: #84df57;
    background: white;
    border: 2px solid #84df57;
}

#edit {
    color: white;
    background: #84df57;
    padding: .2em 1em;
    width: fit-content;
    border: 2px solid transparent;
    margin: auto;
    border-radius: 7px;
    font-weight: bold;
    transition: all .7s;
    margin-left: 20vw;
}

#edit:hover {
    color: #84df57;
    background: white;
    border: 2px solid #84df57;
}

@media (max-width: 800px) {
    .containerNoticeList{
        justify-content: center;
    }
    .cImgDes{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .infroNotice{
        display: flex;
        flex-direction: column;
        width: 100% !important;
        border-radius: 20px 20px 0 0 !important;
        border-radius: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footerNotice{
        flex-direction: column;
    }
    .description{
        margin: 1.5em 0;
        width: 90%;
    }
}