.cardProfile{
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border: solid #39A900 2px ;
    padding: 1rem 0rem 0 0rem;
    margin: 2rem;
    font-family: system-ui;
    width: 600px;
    border-radius: 1.8rem;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
}

.cardProfile img {
    border-radius: 1.5rem;
}

.info h2{
    padding: .5rem;
}

.barcode {
    margin-top: 6rem;
    height: 10px;
    transform: rotate(-90deg);
}

.cardProfile footer {
    height: 100px;
    background-color: #39A900;
    bottom: 0;
    border-radius: 0 0 1.5rem 1.5rem ;
    width: 100%;
}

.cardProfile footer h4 {
    margin: 20px;
    color: white;
    font-weight: 600;
    text-align: center;
}
