nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4em;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 7px rgb(162, 162, 162);
    background-color: rgba(223, 252, 223, 0.615);
    backdrop-filter: blur(1.2px);
}

nav ul{
    width: fit-content;
    display: flex;
    align-items: center;
    font-weight: 500;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 15px;
}

.imgAvatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0 0 5px gray;
    margin-left: 15px;
}

.navForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-btn {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

@media (max-width: 700px) {
    nav {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 4em;
        left: 0;
        width: 100%;
        background-color: rgba(223, 252, 223, 0.815);
        box-shadow: 0 0 7px rgb(162, 162, 162);
    }

    nav ul.active {
        display: flex;
    }

    nav li {
        margin: 0;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .menu-btn {
        display: block;
        margin-right: 15px;
    }
}