form{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.c-left{
    display: block;
    width: 40%;
    height: 80%;
    padding: 1em;
    border-radius: 1em 0em 0em 1em;
    background-image: url('../../img/Form/img-01.JPG');
    background-size: cover;
    box-shadow: 0 0 10px rgb(152, 142, 142);
    border-right: 1px solid white;
    animation: imgAnimate 37s infinite ease;
}
@keyframes imgAnimate {
    0%{
        background-image: url('../../img/Form/img-02.jpg');
    }
    10%{
        background-image: url('../../img/Form/img-01.JPG');
    }
    30%{
        background-image: url('../../img/Form/img-03.JPG');
    }
    50%{
        background-image: url('../../img/Form/img-04.jpg');
    }
    70%{
        background-image: url('../../img/Form/img-05.jpg');
    }
    80%{
        background-image: url('../../img/Form/img-06.jpg');
    }
    100%{
        background-image: url('../../img/Form/img-02.jpg');
    }
}

form label{
    display: flex;
    flex-direction: column;
    background: rgba(105, 254, 35, 0.073);
    width: 25%;
    height: 80%;
    padding: 1em;
    gap: 1em;
    border-radius: 0em 1em 1em 0em;
    box-shadow: 0 0 10px rgb(152, 142, 142);
    justify-content: center;
    align-items: center;
}
form label img{
    width: 200px;
    height: 200px;
    position: relative;
}

form label span{
    color: rgb(88, 87, 85);
    font-size: 1.4em;
    font-weight: bold;
}
form label input{
    width: 100%;
    height: 2em;
    background: none;
    border: none;
    outline: none;
    padding-left: 1.3em;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(49, 45, 45);
    border-bottom: 2px solid rgb(42, 228, 42);
    transition: all .5s;
}
form label input:focus{
    box-shadow: 0 0 5px rgb(57, 226, 57);
}
form label .container{
    width: 60%;
    height: fit-content;
}
form label .container i{
    position: relative;
    left: .2em;
    top: -2em;
    color: rgb(58, 214, 58);
}
form label button{
    background: rgb(57, 226, 57);
    width: 50%;
    height: 8%;
    border: none;
    border-radius: .8em;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    transition: all .8s;
}
form label button:hover{
    background: white;
    color: rgb(57, 226, 57);
    box-shadow: 0 0 7px rgb(52, 243, 52);
}
form label button:focus{
    background: white;
    color: rgb(57, 226, 57);
    box-shadow: 0 0 7px rgb(52, 243, 52);
    outline: none;
}
@media (max-width: 700px) {
    .c-left{
        display: none;
    }
    form label{
        border-radius: 1em;
        width: 70%;
    }
}